@if (historyArray.data.length > 0) {
    <div class="historyContainer">
        <h3>Search History <span class="clear" (click)="showConfirmModal()">Clear All</span></h3>
        <div class="resultsContainer scroll-container">
        <app-table [disableNext]="false" 
[hideColumn]="true"
[hidePagination]="true"
[data]="historyArray" [page]="page" 
[enableDeleteRow]="true"
(deleteRowOutput)="deleteRow($event)"
[deleteKey]="'label'"
[columns]="columns" (selId)="emitQuery($event)"></app-table>
    </div>
    </div>
    
    <app-confirm-modal [title]="title()" (confirm)="clear()" [message]="message()" [showModal]="showModal()"></app-confirm-modal>

}
