.tableContainer{
    margin-top: 20px;
    background-color: var(--ramp-blue-100);
    border:1px solid var(--ramp-blue-400);
    border-radius: 5px;
    cursor: pointer;
    table{
        width:100%;
         border-collapse: collapse;
        tr{
       
        .deleteButton{
                background-color: inherit;
                border: none;
        }

        td{
            padding: 10px;
            text-align: left;
        }
    }
    tr:hover{
        background-color: var(--ramp-blue-400);}
    }

    .pagination{
        display: flex;  
        justify-content: center;
        padding: 20px;
        gap:10px;   
        button{
             background-color: inherit;
             border: none;
             color :var(--ramp-blue-400);
             cursor: pointer;
                &:disabled{
                    color: var(--grey);
                }   
        }
    }
    .empty{
        float: right;
        padding-top: 20px;
    }

    
}
.empty{
        
        padding-top: 20px;
        color:var(--ramp-blue-100);
    }