<form novalidate [formGroup]="form">
<div class="searchContainer">
    
    <input type="search" formControlName="query" class="search">
    <button class="searchButton" type="submit" (click)="search()"></button>
  
</div>
</form>
 <div class="container scroll-container">


@if( isError){

    <div class="error">
        <span class="errorMessage">
            @if(form.get('query')?.hasError('required')){
                Please enter a search query.
            }
            @else if(form.get('query')?.hasError('minlength')){
                Search query must be at least 3 characters long.
            }
            @else {
                An error occurred while fetching data. Please try again later.
            }
        </span>
    </div>
}
@else {
    @if(showResultsAndHistory()){
        <div class="history">
    <app-search-history (reRunSearch)="reRunSearch($event)" ></app-search-history>
</div>
       <div class="searchResults">  <app-table [data]="tableData" [columns]="columns" 
    (nextPageOutput)="nextPageOutput()" (prevPageOutput)="prevPageOutput()"
     (selId)="showDetails($event)" [page]="page()" [disableNext]="disableNext"></app-table>
     </div>
    
        
        
    }
    @else if(showEachResult()){
        <div class="resultsContainer">
            <div class="title">{{selectedBrewery?.name}} <button class="close"(click)="closeDetailsPage()">X</button></div>
            <div class="details">
                <div><span class="bold">Name:</span> {{selectedBrewery?.name}}</div>
                <div><span class="bold">Type:</span> {{selectedBrewery?.breweryType}}</div>
                <div><span class="bold">Address:</span> {{selectedBrewery?.street}}, {{selectedBrewery?.city}}, {{selectedBrewery?.state}}, {{selectedBrewery?.postalCode}}</div>
                <div><span class="bold">Phone:</span> {{selectedBrewery?.phone}}</div>
                <div><span class="bold">Website:</span> <a [href]= "url" target="_blank">{{selectedBrewery?.websiteUrl}}</a></div>    
            
        </div>
    </div>   
   }
}
</div>  



