.searchContainer{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    height:40px;
   .search {
  width: 300px;
  height: 40px;
  position: relative; 
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}


   


.searchButton{
    width: 40px;
    height: 40px;
    border: none;
    background-color:var(--white) ;
    background-image: url('/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
}
.error{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    height:40px;
    .errorMessage{
        color: var(--red);
        font-size: 14px;
    }
}  

.container{
    .resultsContainer{
        margin-top:20px;
        background-color: var(--ramp-blue-100);
        padding:20px;
        .title{
            border-bottom: 1px solid var(--grey);
            padding-top:10px;
            padding-bottom:10px;

            .close{
                background-color: inherit;
                border: none;
                font-size: 24px;
                cursor: pointer;
                float:right;
            }
        }
        .details{
            margin-top:10px;
            div{
                margin-bottom:5px;
            }
            .bold{
                font-weight: bold;
                width:25px;
            }
        }
        max-height:70%;
        max-width:100%;
        overflow-y: auto;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* tablet landscape styles */
  .container{
     height:65vh;
     overflow-y:auto;
  }
}
